@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Montserrat', sans-serif;
}

body {
   background-color: #fff;
}

.App {
   padding: 20px;


   .nav {
      display: flex;
      justify-content: space-between;

      .logo {
         font-size: 20px;
         font-weight: 900;
         padding-top: 8px;
      }


      .search {
         
         input {
            padding: 10px;
            outline: none;
            border: 2px solid #c6f6d5;
            border-radius: 8px;
         }
      }
   }

   .allpoke {
      margin-top: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
      place-items: center;
      row-gap: 10px;

      .pokemon-container {
         width: 95%;
         border-radius: 15px;
         background-color: #48D0B0;
         padding: 20px 20px 50px 20px;
         position: relative;

         .details {

            .name {
               text-align: start;
               color: #fff;
               text-transform: capitalize;
               font-weight: 600;
               margin-bottom: 5px;
            }

            .types {

               .type {
                  width: fit-content;
                  color: #fff;
                  padding: 3px 8px;
                  border-radius: 7px;
                  background-color: #5DDFC6;
               }
            }
         }

         .img-container {
            position: relative;

            img {
               position: absolute;
               top: -50px;
            }
         }

      }
   }
}